extends layout

block content
  div(class="container mt-5")
    div(class="card bg-primary p-2 text-dark bg-opacity-25")
        div(class="card-body")
            center    
                h5(class="card-title") Response Successfully Submitted!
            
                p(class="card-text") Thank you for partcipating in the Survery.

                form(action="/" method="GET")
                    button(type="submit" class="btn btn-primary") Submit Another Response